/* Custom color scheme */
:root {
    --md-primary-fg-color: #00bb77;
    --md-primary-fg-color--dark: #00bb77;
    --md-accent-fg-color: #006d55;
}


[data-md-color-scheme="default"] {
    --md-primary-fg-color: #00bb77;
    --md-accent-fg-color:  #006d55;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #00bb77;
    --md-accent-fg-color:  #6ee2b3;
}

/* Equal width tabs for all tabbed sets */
.tabbed-set > input {
  display: none;
}

.tabbed-set > label {
  flex: 1;
  text-align: center;
  min-width: 0;
}

.tabbed-labels {
  display: flex;
  width: 100%;
}

.tabbed-labels > label {
  flex: 1 1 0;
  text-align: center;
}