/* Custom color scheme */
:root {
    --md-primary-fg-color: #10a2b4;

}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #10a2b4;
    --md-accent-fg-color: #0c7683;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #10a2b4;
    --md-accent-fg-color: #0c7683;
}

:root {
  --md-admonition-icon--toolfront: url(../images/logo_bw.svg);
}
.md-typeset .admonition.toolfront,
.md-typeset details.toolfront {
  border-color: rgb(16, 162, 180);
}
.md-typeset .toolfront > .admonition-title,
.md-typeset .toolfront > summary {
  background-color: rgba(16, 162, 180, 0.1);
}
.md-typeset .toolfront > .admonition-title::before,
.md-typeset .toolfront > summary::before {
  background-color: rgb(16, 162, 180);
  -webkit-mask-image: var(--md-admonition-icon--toolfront);
          mask-image: var(--md-admonition-icon--toolfront);
}

/* Custom grid layout for code examples - desktop only */
@media screen and (min-width: 76.25em) {
  .grid.cards {
    grid-template-columns: 35% 1fr;
  }
}

/* Equal width tabs for all tabbed sets */
.tabbed-set > input {
  display: none;
}

.tabbed-set > label {
  flex: 1;
  text-align: center;
  min-width: 0;
}

.tabbed-labels {
  display: flex;
  width: 100%;
}

.tabbed-labels > label {
  flex: 1 1 0;
  text-align: center;
}